[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
prometheus-client = "*"
thoth-report-processing = "*"
thoth-common = "*"
thoth-python = "*"
thoth-messaging = "<=0.13"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
hypothesis-auto = "*"
hypothesis = "*"
pytest-mypy = "*"
mypy = "*"
pre-commit = "==2.0.1"

[requires]
python_version = "3.8"
